# Basics of python

In [ ]:
a=10
b=10

In [ ]:
a>b


## operators

In [ ]:
print("hello worod")

In [ ]:
print(2+5)

In [ ]:
print(9/5)

In [1]:
print(15%6)

3

In [ ]:
x=5

In [ ]:
y=9

In [ ]:
print(x+y)

In [2]:
print(15//7)

2

In [ ]:
m=3**3

In [ ]:
print(m)

# PEMDAS

## PRENTHISIS EXPONENT MULTIPLICATION DIVISION ADDITION SUBTRACTION

In [ ]:
print((9+2)*(3-2)/2*2**2)

# Strings

In [ ]:
print (' this is sting ')

In [ ]:
print (" This is string ")

In [ ]:
print(    '''   this is sring    ''')

In [ ]:
# print(" what's up   ?")

# Python String format() Method

In [56]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [58]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt1

"My name is John, I'm 36"

In [59]:
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt2

"My name is John, I'm 36"

# commenting code
### use either # or use ctrl+/ to commets a specific area of code


# Variable : are objects containing values

In [3]:
y= "I have a secrate sentance theek hai "

In [4]:
print(y)

I have a secrate sentance theek hai

In [5]:
x=5

In [6]:
print(x)

5

In [7]:
type(y)

str

In [8]:
type(x)

int

In [9]:
print(type(y))

<class 'str'>

In [ ]:
#print_type_class

# rules to assign variables 
### varialbe should contain letters  numbers and underscores 
###  should not start with numbers 
### space are not allowed 
### dont use keyword 
#### case sensitive (use lower case letters )

In [11]:
fruit_basket= "mango","Orange"
print(type(fruit_basket))

<class 'tuple'>

# using input function to enter values

In [ ]:
x = input('Enter your name:')
print('Hello, ' + x)

In [ ]:
name = input("what is your name ")
greetings ="Hello"
print (greetings, name)

In [ ]:
name = input("your name")
age =input(" your age ")
print( "hello" ,name , " you are still young")

# Conditional operators

In [ ]:
#eqaul to ==
#not eqaul to !=
#less than <
#greater than >
#less than equal to <=
#greator than equal to >=

In [13]:
print(4==4)

True

In [14]:
print(4!=4)

False

# type conversition

In [ ]:
age = input("Enter your age")
x=int(age)
if x>60:
    print(" you are senior citizion")
elif x<60:
    print(" you are not senior citizen")
elif 30<x>50:
    print(" Hello young lad")
else:
    print (" Hello boy")

In [15]:
#implicit type conversion 
x=5
y=9.2
x=x*y
print(x)
print(type(x))

46.0
<class 'float'>

In [16]:
# explicit type conversion
x= 150
y=14.63
x=int(y)
print(x)
print (type(x))

14
<class 'int'>

# Funtions

In [17]:
def Iqbal():
    x="Iqbal has many talents"
    print(x)
    print(x)
    print(x)
    
Iqbal()

Iqbal has many talents
Iqbal has many talents
Iqbal has many talents

In [18]:
def iqbal(x):
    print(x)
    print(x)
    print(x)
    print(x)
    
iqbal("theek hai")

theek hai
theek hai
theek hai
theek hai

In [ ]:
def school_calculator(age,text):
    if age==5:
        print("Eesa can join school")
    elif age>5:
        print("Eesa can join higher school")
    else:
        print("Eesa is still a baby")
        
school_calculator(9,"Eesa")

In [ ]:
#future predicted age
def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)

x=future_age(18)
print(x)

# for and while loop

In [22]:
x=0
while x<=5:
    print(x)
    x=x+1
    if x>0:
        print("rukna tu hai hi nahi")

0
rukna tu hai hi nahi
1
rukna tu hai hi nahi
2
rukna tu hai hi nahi
3
rukna tu hai hi nahi
4
rukna tu hai hi nahi
5
rukna tu hai hi nahi

In [23]:
x=0
for x in range (0,20):
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Arrays

In [30]:
days = ["Mon", "Tues","Wed","Thurs","Fri","Sat"]
for d in days :
    if (d=="Fri"):break #stop loop
#     if (d=="Fri"):continue 
       
print(d)

Fri

# Import libraries

In [ ]:
import math
print(" the value of pie is ",math.pi)

In [31]:
import statistics 
x=(12,10,156,49,32,89)
print("The mean value of x is ",statistics.mean(x))

The mean value of x is  58


# some important libraries of python are as below :
- numpy
- pandas 
- seabon 
- matplotlib

# Troubleshoting in python
*syntex error*
**semantic error**
**run time**

In [ ]:
#print(this is my house)  #syntex error
# print(25/0)             #runtime errorbb 

# name ="Iqbal ali"
# print (" Hello name ")  #semantic error

# indexing and data structure

In [32]:
a="samosa pakora"
a[0]

's'

In [33]:
a[3]

'o'

In [34]:
len(a)

13

In [35]:
a[0:6]

'samosa'

In [36]:
a[-6]

'p'

In [37]:
a[-7:-1]

' pakor'

In [38]:
#operations on string :
food = "Biryani"

In [39]:
#length of a string 
len(food)

7

In [40]:
#capitalize word 
food.capitalize()

'Biryani'

In [41]:
#upper case 
food.upper()

'BIRYANI'

In [42]:
#lower case 
food.lower()

'biryani'

In [43]:
#shriyani 
food.replace("B","sh")

'shiryani'

In [44]:
#character countb
food.count("i")

2

# Finding an index number ....

In [45]:
name="This is my statement"
name

'This is my statement'

In [46]:
name.find("e")

15

In [47]:
food="I love samosa, raita, pakora and jalebi"

In [48]:
food.split("a")

['I love s', 'mos', ', r', 'it', ', p', 'kor', ' ', 'nd j', 'lebi']

In [49]:
food.split(",")

['I love samosa', ' raita', ' pakora and jalebi']

In [55]:
s=("will this be print, this is another sentence")
s.split(",")

['will this be print', ' this is another sentence']

# Basic Data structure in python

# tuple / list / dictionary / set

# tuple
>orderd collection of data
enclosed in round parenthesis
diffrent kind of elements can be stored 
elements cant be changed (un mutable)

In [65]:
tup1=(1,"python",True,2.5)
tup1

(1, 'python', True, 2.5)

In [66]:
tup1[1]

'python'

In [67]:
#last element is exclusive
tup1[0:3]

(1, 'python', True)

In [68]:
len(tup1)

4

In [69]:
type(tup1)

tuple

In [71]:
tup2=(2,"iq",False,3.2)
tup2

(2, 'iq', False, 3.2)

In [72]:
tup1+tup2

(1, 'python', True, 2.5, 2, 'iq', False, 3.2)

In [73]:
tup1*2+tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'iq', False, 3.2)

In [74]:
tup3 =(20,61,4.5,9,27)
tup3

(20, 61, 4.5, 9, 27)

In [75]:
max(tup3)

61

In [76]:
min(tup3)

4.5

In [77]:
tup3*2

(20, 61, 4.5, 9, 27, 20, 61, 4.5, 9, 27)

# List
>ordered collection of elements
[] enclosed in [] sqare braketes
[] mutable you can change the values

In [ ]:
list1=[2,"python",3.5,False]
list1

In [ ]:
type(list1)

In [ ]:
len(list1)

In [ ]:
list1[2]

In [ ]:
list2=[5,"r",885,2.9,True]
list2

In [ ]:
list1+list2

In [ ]:
list1*2

In [ ]:
list1.reverse()
list1

In [ ]:
list1.append("theek hai")
list1

In [ ]:
list3=[20,100,50,90,10,5,6]
list3

In [ ]:
list3.sort()
list3

# Dictionaries 
### an un ordered collection of elements 
### key and values 
### curely braces used {}
### mutable (changes the values)

In [10]:
d1={"samosa":10,"jalebi":20,"Haleem":100, "biryani":150,"biryani":150}
d1

{'samosa': 10, 'jalebi': 20, 'Haleem': 100, 'biryani': 150}

In [2]:
type(d1)

dict

In [3]:
food_keys=d1.keys()
food_keys

dict_keys(['samosa', 'jalebi', 'Haleem', 'biryani'])

In [4]:
food_values=d1.values()
food_values

dict_values([10, 20, 100, 150])

In [5]:
d1["samosa"]=50
d1

{'samosa': 50, 'jalebi': 20, 'Haleem': 100, 'biryani': 150}

In [6]:
d2={"chocolate":10,"maggie":20,"biscuites":100}
d2

{'chocolate': 10, 'maggie': 20, 'biscuites': 100}

In [7]:
d1.update(d2)
d1

{'samosa': 50,
 'jalebi': 20,
 'Haleem': 100,
 'biryani': 150,
 'chocolate': 10,
 'maggie': 20,
 'biscuites': 100}

# set
- unordered and un indexed collection of elements 
- curly braces {} used no duplicates are allowed

In [9]:
s1={2.5,"samosa",False,7,"samosa"}
# s1.add("Saima")
# s1
s1

{2.5, 7, False, 'samosa'}

In [ ]:
s1.pop()
s1

In [ ]:
s1.remove("samosa")
s1

In [ ]:
s1.discard

In [11]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}

# Equivalent to A-B
print(A.difference(B))

# Equivalent to B-A
print(B.difference(A))

{'b', 'd', 'a'}
{'g', 'f'}

In [12]:
numbers = {1, 2, 3, 4}
new_numbers = numbers.copy()

new_numbers.add(5)

print('numbers: ', numbers)
print('new_numbers: ', new_numbers)

numbers:  {1, 2, 3, 4}
new_numbers:  {1, 2, 3, 4, 5}

In [13]:
numbers = {2, 3, 4, 5}

numbers.discard(3)
print('numbers = ', numbers)

numbers.discard(10)
print('numbers = ', numbers)

numbers =  {2, 4, 5}
numbers =  {2, 4, 5}

In [14]:
A = {2, 3, 5}
B = {1, 3, 5}

# compute intersection between A and B
print(A.intersection(B))

{3, 5}

In [ ]:
A = {100, 7, 8}
B = {200, 4, 5}
C = {300, 2, 3}
D = {100, 200, 300}

print(A.intersection(D))
print(B.intersection(D))
print(C.intersection(D))
print(A.intersection(B, C, D))

In [ ]:
A = {100, 7, 8}
B = {200, 4, 5}
C = {300, 2, 3, 7}
D = {100, 200, 300}

print(A & C)
print(A & D)

print(A & C & D)

print(A & B & C & D)

In [ ]:
A ={'a', 'b', 'c', 'd'}

print('Return Value is', A.pop())
print('A = ', A)

In [ ]:
#Body Mass index
#weight
#height
x=input("whats your weight")
y=input(" what is your height")
x=float(x)
y=float(y)
z=x/y**2
print(z)